# its an example env for a reason LOAOOALALAL

NODE_ENV=development
PORT=3000

INTERNAL_API_KEY=5998af9f149b50b6bf009ce6aabadb725520ba69fc6c22638ff6f58fc84bb0e6

RESEND_API_KEY=re_replace_me
RESEND_FROM=Axis <onboarding@resend.dev>
DEV_BYPASS_OTP=true

AI_API_ENDPOINT=https://chat.eli.gift/shop/heroin
AI_API_KEY=chair

VM_SERVICE_URL=http://localhost:8080
VM_SERVICE_TOKEN=0247ebae200b2194c5c6ef5228ce07ab75a0d4dada34e8014e711be3be8ba948
VM_PUBLIC_WS_URL=ws://localhost:8080
