PORT=8080
HOST=0.0.0.0

VM_SERVICE_TOKEN=0247ebae200b2194c5c6ef5228ce07ab75a0d4dada34e8014e711be3be8ba948

SESSION_MAX=4
SESSION_IDLE_MS=600000

FRAME_FPS=12
FRAME_QUALITY=6
SCREEN_WIDTH=1280
SCREEN_HEIGHT=720
DISPLAY_START=99

CHROME_BIN=/usr/bin/chromium
START_URL=https://duckduckgo.com
